{% extends "profiles/user_dashboard_base.html" %}

{% block title %}
Explore Community
{% endblock title %}

{%block content %}
{{ moment.include_moment() }}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Top Contributors Section -->
<section class="mb-8" style = "padding-top: 20px;">
	<header class="bg-gradient-to-r from-green-400 to-green-500 rounded-lg p-6 text-white mb-8">
		<h1 class="text-4xl font-semibold mb-2">Celebrating the Champions of Contribution</h1>
		<p class="text-gray-200">Recognize our Top Contributors, whose exceptional efforts shape the heart and soul of our vibrant community.</p>
	</header>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
		{% for contributor, report_count in top_contributors %}
		<div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105">
			<div class="relative">
				{% if contributor.imageUrl %}
				<img src="{{ url_for('static', filename = 'images/profiles/' + contributor.imageUrl) }}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% else %}
				<img src="{{ contributor.avatar(300)}}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% endif %}
				<span class="absolute top-2 right-2 bg-green-500 text-white px-2 py-1 rounded-full text-xs font-semibold">VIP</span>
			</div>
			<div class="p-4">
				<h3 class="text-lg font-semibold mb-2">{{ contributor.userName }}</h3>
				<p class="text-gray-600">Contributions: {{ report_count }}</p>
			</div>
			<div class="bg-blue-500 text-white p-2 text-sm font-semibold">
				Top Contributor
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- New Members Section -->
{% if new_members %}
<section class="mb-8">
	<header class="bg-gradient-to-l from-yellow-500 to-yellow-600 rounded-lg p-6 text-white mb-8">
		<h1 class="text-4xl font-semibold mb-2">Embracing Fresh Beginnings</h1>
		<p class="text-gray-200">Welcoming our New Members with open arms as they embark on a journey of engagement and collaboration.</p>
	</header>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
		{% for member in new_members %}
		<div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105">
			<div class="relative">
				{% if member.imageUrl %}
				<img src="{{ url_for('static', filename = 'images/profiles/' + member.imageUrl) }}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% else %}
				<img src="{{ member.avatar(300)}}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% endif %}
				<span class="absolute top-3 right-3 bg-green-500 text-white py-1 px-2 rounded-full text-xs font-semibold">New</span>
			</div>
			<div class="p-4">
				<h3 class="text-xl font-semibold mb-2">{{ member.userName }}</h3>
				<p class="text-gray-600 text-sm">Joined: {{ moment(member.dateCreated).format('LLL') }}</p>
			</div>
			<div class="bg-gray-100 p-3 flex justify-between items-center">
				<div class="flex items-center">
					<i class="fas fa-map-location text-blue-500 mr-2 text-lg"></i>
					<p class="text-gray-600 text-sm">{{ member.locationAddress }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}

<!-- Paginated Members Section -->
<section class="mb-8">
	<header class="bg-gradient-to-l from-purple-500 to-purple-600 rounded-lg p-6 text-white mb-8">
		<h1 class="text-4xl font-semibold mb-2">Our Esteemed Contributors</h1>
	</header>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
		{% for member in members %}
		<div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform hover:scale-105">
			<div class="relative">
				{% if member.imageUrl %}
				<img src="{{ url_for('static', filename = 'images/profiles/' + member.imageUrl) }}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% else %}
				<img src="{{ member.avatar(300)}}" alt="Contributor Avatar" class="w-full h-44 object-cover">
				{% endif %}
				<span class="absolute top-3 right-3 bg-indigo-500 text-white py-1 px-2 rounded-full text-xs font-semibold">Member</span>
			</div>
			<div class="p-4">
				<h3 class="text-xl font-semibold mb-2">{{ member.userName }}</h3>
				<p class="text-gray-600 text-sm">Joined: {{ moment(member.dateCreated).format('LLL') }}</p>
			</div>
			<div class="bg-white rounded-lg shadow-lg p-4 flex items-center">
				<div class="flex items-center">
					<i class="fas fa-map-location text-blue-500 mr-2 text-lg"></i>
					<p class="text-gray-600 text-sm">{{ member.locationAddress }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock content %}
