<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome to Ripoti Taka Program</title>
	</head>
	<body style="background-color: #f4f4f4; font-family: Arial, sans-serif; margin: 0; padding: 0;">
		<table cellpadding="0" cellspacing="0" width="100%" style="background-color: #f4f4f4;">
			<tr>
				<td align="center">
					<table cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff;">
						<tr>
							<td style="padding: 20px 0; text-align: center;">
								<h1 style="color: #3f51b5;">Welcome to the Ripoti Taka Program!</h1>
								<p style="color: #3f51b5;">We are thrilled to have you as a member of our community dedicated to making a positive impact on the environment.</p>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px;">
								<p>As you have successfully registered, we kindly request you to take a moment to confirm your email address by clicking on the following link:</p>
                <p style="text-align: center;"><a href="{{ confirmation_link }}" style="background-color: #3f51b5; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Confirm Your Email</a></p>
								<p>Confirming your email address is an essential step to activate your account and stay updated with the latest news and activities related to our program.</p>
								<p>For security reasons, please do not reply to this email address. If you have any questions or need assistance, please visit our website or contact our support team at <a href="mailto:ripoti.wapendataka@gmail.com" style="color: #3f51b5;">ripoti.wapendataka@gmail.com</a>.</p>
								<p>Thank you for joining us in our mission to create a cleaner and greener world. Together, we can make a significant difference.</p>
								<p style="color: #3f51b5;">Warm regards,</p>
								<p style="color: #3f51b5;">The Ripoti Taka Communications Office<br>Ripoti Taka Program</p>
								<p style="color: #3f51b5;">Support Email: <a href="mailto:ripoti.wapendataka@gmail.com" style="color: #3f51b5;">ripoti.wapendataka@gmail.com</a></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>

