{% extends "base.html" %}
{% block title %}
Register
{% endblock title %}

{% block page_content %}
<div class="bg-gray-100 flex items-center justify-center h-screen-l">
	<div class="bg-white rounded-lg shadow-lg p-8 flex w-11/12 sm:w-3/4 lg:w-2/3 xl:w-1/2 mt-4 mb-4">
		<div class="w-full">
			<h2 class="text-2xl font-semibold mb-4">Register</h2>
			<form method="post" action="{{ url_for('registration.register_user') }}">
				{{ form.hidden_tag() }}
				<div class="mb-4">
					<label for="user_name" class="block font-semibold mb-1">Username</label>
					{{ form.user_name(class="w-full border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500") }}
					{% for error in form.user_name.errors %}
					<p class="text-red-500">{{ error }}</p>
					{% endfor %}
				</div>
				<div class="mb-4">
					<label for="email_address" class="block font-semibold mb-1">Email Address</label>
					{{ form.email_address(class="w-full border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500") }}
					{% for error in form.email_address.errors %}
					<p class="text-red-500">{{ error }}</p>
					{% endfor %}
				</div>
				<div class="mb-4">
					<label for="password" class="block font-semibold mb-1">Password</label>
					{{ form.password(class="w-full border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500") }}
					{% for error in form.password.errors %}
					<p class="text-red-500">{{ error }}</p>
					{% endfor %}
				</div>
				<div class="mb-4">
					<label for="confirmPassword" class="block font-semibold mb-1">Confirm Password</label>
					{{ form.confirm_password(class="w-full border rounded-lg py-2 px-3 focus:outline-none focus:border-blue-500") }}
					{% for error in form.confirm_password.errors %}
					<p class="text-red-500">{{ error }}</p>
					{% endfor %}
				</div>
				<div class="mb-4">
					<label for="termsCheckbox" class="block font-semibold">
						<input type="checkbox" id="termsCheckbox" name="termsCheckbox" required>
						I have read and accept the <a href="{{ url_for('main.terms_and_conditions') }}" target="_blank">Terms and Conditions</a>
						and the <a href="{{ url_for('main.privacy_policy') }}" target="_blank">Privacy Policy</a>.
					</label>
				</div>
				<button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300">Register</button>
			</form>
			<div class="mt-6">
				<p class="text-center font-semibold theme-text">Already Have an account?
				<a href = "{{ url_for('authentication.login') }}" class="text-blue-500 hover:underline">Log In</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock page_content %}
