<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block scripts %}
		{{ moment.include_moment() }}
		{% endblock scripts%}
		<title>
			{% block title %}{% endblock title%} - {{app_name|title}}
		</title>

		{% block head %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
		{% endblock head %}
	</head>
	<body class="bg-gray-100 font-sans">
		{% block navbar %}
		<nav class="bg-blue-800 py-5">
			<div class="container mx-auto flex justify-center items-center">
				<ul class="flex space-x-4 text-white">
					<li><a href="{{ url_for('main.index')}}" class="hover:text-blue-300">Home</a></li>
					<li><a href="{{ url_for('main.get_involved')}}" class="hover:text-blue-300">Get Involved</a></li>
					<li><a href="{{ url_for('main.contact_us')}}" class="hover:text-blue-300">Contact</a></li>
					<li><a href="{{ url_for('authentication.login')}}" class="hover:text-blue-300">Sign In</a></li>
				</ul>
			</div>
		</nav>

		{% endblock navbar %}

		{% block content %}
		{% block page_content %}{% endblock page_content %}
		{% endblock content %}

		{% block footer %}
		<footer class="bg-gray-900 text-white py-8">
			<div class="container mx-auto text-center">
				<p class="mb-4">&copy; 2023 {{ app_name | title }}. All rights reserved.</p>
				<div class="flex justify-center space-x-4">
					<a href="{{ url_for('main.privacy_policy')}}" class="hover:text-blue-300">Privacy Policy</a>
					<a href="{{ url_for('main.terms_and_conditions')}}" class="hover:text-blue-300">Terms and Conditions of Service</a>
					<a href="{{ url_for('main.contact_us')}}" class="hover:text-blue-300">Contact Us</a>
				</div>
			</div>
		</footer>
		{% endblock footer %}
	</body>
</html>
